<%# <link rel="stylesheet" href="/styles.css"> %>

<nav class="navbar">
  <ul class="nav-list">
    <li><a href="/">Home</a></li>
    <li><a href="/rooms">View Rooms</a></li>
    <li><a href="/categories">Types of Rooms</a></li>
    <li><a href="/features">View Features</a></li>
  </ul>
</nav>
