
<nav class="navbar">
  <ul class="nav-list">
    <li><a href="/">Home</a></li>
    <li><a href="/rooms">View Rooms</a></li>
    <li><a href="/categories">Types of Rooms</a></li>
    <li><a href="/features">View Features</a></li>
  </ul>
   <ul class="nav-list">
    <li><a href="/addRoom">Add Room</a></li>
    <li><a href="/addCategory">Add Category</a></li>
    <li><a href="/addFeature">Add Feature</a></li>
  </ul>
</nav>
