<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/styles.css">

</head>
<body>
	<%-include('./partials/navbar')%>
	<form action="/addFeature"  method="POST">
		<div>
			<label for="featureName">Feature Name:</label>
			<input type="text" id="featureName" name="featureName" required>
		</div>
		<button type="submit">Add Feature</button>
	</form>
</body>
</html>