<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/styles.css">
</head>
<body>
	<%-include('./partials/navbar')%>
	  <% if (errors && errors.length > 0) { %>
	    <ul style="color: red;">
	      <% errors.forEach(error => { %>
	        <li><%= error.msg %></li>
	      <% }) %>
	    </ul>
	  <% } %>

	<form action="/addFeature"  method="POST" class="room-form">
		<div class="form-group">
			<label for="featureName">Feature Name:</label>
			<input type="text" id="featureName" name="featureName" value="<%= typeof oldInput !== 'undefined' ? oldInput : '' %>" required>
		</div>
		<button type="submit" class="submit-btn">Add Feature</button>
	</form>


</body>
</html>