<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/styles.css">

</head>
<body>
	<h1><%=title%></h1>
	<%-include('./partials/navbar')%>
	<div class="container">
	    <h1>Feature List</h1>
	    <div class="grid">
	      <% features.forEach(feat => { %>
	        <div class="card">
	          <h2><%= feat.name %></h2>
				<form action="/removeFeature" method="POST" style="display:inline;">
				  <input type="hidden" name="featureId" value="<%=feat.id%>">
				  <button type="submit">Remove</button>
				</form>
	        </div>
	      <% }) %>
	    </div>
	</div>

</body>
</html>